<!doctype html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="A growing collection of ready to use components for the CSS framework Bootstrap 5">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
  <meta name="author" content="Holger Koenemann">
  <meta name="generator" content="Eleventy v2.0.0">
  <meta name="HandheldFriendly" content="true">
  <title>Plain Content Sample Page</title>
  <link rel="stylesheet" href="/styles/theme.min.css">

  <style>
    /* inter-300 - latin */
    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-300.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-500.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-700.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* Animation */

    @keyframes fadeInUp {
      from {
        transform: translate3d(0, 40px, 0)
      }

      to {
        transform: translate3d(0, 0, 0);
        opacity: 1
      }
    }

    @-webkit-keyframes fadeInUp {
      from {
        transform: translate3d(0, 40px, 0)
      }

      to {
        transform: translate3d(0, 0, 0);
        opacity: 1
      }
    }

    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both
    }

    .animatedFadeInUp {
      opacity: 0
    }

    .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
    }

    .pop {
      transition: .2s ease;
    }

    .pop:hover {
      font-weight: bold;
      cursor: pointer;
    }
  </style>

</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">

  <nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
    <div class="container">
      <a class="navbar-brand pe-4 fs-4" href="/">
        <span class="ms-1 fw-bolder">CarX.</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/" aria-label="Brings you to the frontpage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <main>
    <div class="py-vh-5 w-100 overflow-hidden mt-5 " id="services">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8 text-center">
            <h1 class="display-1 fw-bold border-bottom border-dark pb-4">Car Details</h1>
          </div>
          <div class="col-12">
            <figure class="py-vh-2 pt-0">
              <blockquote class="blockquote blockquote-xl">
                <p>"Explore the amazing features of this high-performance vehicle. From cutting-edge technology to sleek
                  design, this car is a true masterpiece."</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Check out our complete collection at
                <cite title="carx.com">CarX.com</cite>
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-lg-10 col-xl-8">
            <img class="img-fluid rounded shadow zoom-in animated animatedFadeInUp fadeInUp"
              src="data:<%= entryDetails.imageType %>;base64,<%= entryDetails.image.toString('base64') %>" alt="Image"">
            <ul class=" mt-5">
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Name: <%= entryDetails.name %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Model: <%= entryDetails.Model %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Number Plate: <%= entryDetails.NumberPlate %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Max-speed in km/s: <%= entryDetails.MaxSpeed %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Color: <%= entryDetails.Color %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Posted Date: <%= entryDetails.Date %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Engine Type: <%= entryDetails.EngineType %>
            </li>
            <li class="animated animatedFadeInUp fadeInUp pop mt-3">Price: <%= entryDetails.Price %>$</li>
            </ul>
          </div>
          <div class="container mt-5">
            <h2 class="mb-4 text-center">Want To Buy? Fill The Form</h2>
            <form action="/order" method="post" id="userOrder">
              <div class="form-group mt-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
              </div>
              <div class="form-group mt-3">
                <label for="address">Address:</label>
                <input class="form-control" id="address" name="address" rows="3" placeholder="Enter your address">
              </div>
              <div class="form-group mt-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
              </div>
              <div class="form-group mt-3">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
              </div>
              <button type="submit" class="btn btn-primary mt-3">Buy</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer id=" footer">
    <div class="container small border-top">
      <div class="row py-4 d-flex justify-content-between">

        <!-- Box 1: Company Info -->
        <div class="col-12 col-lg-6 border-end p-4" id="footer">
          <p><b>CarX</b>.com</p>
          <address class="text-secondary mt-3">
            <strong>Revolution Motors, Inc.</strong><br>
            1355 Performance Drive, Suite 900<br>
            Automotive City, CA 94103<br>
          </address>
        </div>
        <!-- Box 2: Quick Links -->
        <div class="col-12 col-lg-6 p-4">
          <h3 class="h6 mb-3">About Us</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link link-secondary ps-0" href="mailto:carx@gmail.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-envelope" viewBox="0 0 16 16">
                  <path
                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                </svg>
                carx@gmail.com
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary ps-0" href="https://www.facebook.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-facebook" viewBox="0 0 16 16">
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                </svg>
                Facebook
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary ps-0" href="https://www.instagram.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-instagram" viewBox="0 0 16 16">
                  <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                </svg>
                Instagram
              </a>
            </li>
          </ul>
        </div>


      </div>
    </div>

    <!-- Credits -->
    <div class="container text-center py-3 small">Made by <a href="https://templatedeck.com" class="link-fancy"
        target="_blank">templatedeck.com</a>
    </div>
  </footer>

  <script src="script/bootstrap.bundle.min.js"></script>
  <script src="script/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    AOS.init({
      duration: 800, // values from 0 to 3000, with step 50ms
    });
  </script>

  <script>
    let scrollpos = window.scrollY
    const header = document.querySelector(".navbar")
    const header_height = header.offsetHeight

    const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
    const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

    window.addEventListener('scroll', function () {
      scrollpos = window.scrollY;

      if (scrollpos >= header_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }

      console.log(scrollpos)
    })
    // showing user that your order have been sent
    document.getElementById('userOrder').addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      try {
        const response = await fetch('/order', {
          method: 'POST',
          body: formData,
        });
        if (response.ok) {
          const result = await response.json();
          // Display success popup
          alert(result.message);
        } else {
          const error = await response.json();
          // Display error popup
          alert(error.error);
        }
      } catch (error) {
        console.error('Error:', error);
        // Display generic error popup
        alert('An error occurred');
      }
    });
    document.getElementById('userOrder').addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      try {
        const response = await fetch('/order', {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const result = await response.json();
          // Display success popup
          alert(result.message);
        } else {
          // If response status is an error, handle it appropriately
          const errorText = await response.text();
          alert('Error: ' + errorText);
        }
      } catch (error) {
        console.error('Error:', error);
        // Display generic error popup
        alert('An error occurred');
      }
    });

  </script>

</body>

</html>